@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

@import "variables";

@import "~bootstrap/scss/bootstrap";

html, body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    font-weight: 600;
}

.alert {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.content {
    position: relative;
}

.search {
    margin-right: 0.3em;
    align-items: flex-end;
    max-width: 400px;
}

.btn-outline-secondary {
    font-weight: bold;
}
